@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

body {
	color: #333;
	font-size: 11px;
	padding: 0px;
	font-family: 'Hind Siliguri', sans-serif;
}
a {
	color: #333;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
.main h1 {
	font-family: Georgia, serif;
	font-weight: normal;
	text-align: center;
}
.main h2 {
	padding: 20px 0 0;
	font-family: Georgia, serif;
	font-weight: normal;
	text-align: center;
}
.main p {
	overflow: hidden;
}
.main {
	/* background-color: #fff;
	background-image: url(../images/main_olab.gif);
	background-repeat: repeat-x; */
	background-position: left top;
	padding-top: 1px;
	--tw-shadow: 0px 8px 25px rgba(0, 0, 0, 0.07);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.g99.logo {
	display: none;
}
.menuSet {
	position: relative;
}
.mainTitle {
	width: 683px;
	display: none;
}
.mainTitle p {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #ffffff;
	font-size: 200%;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	height: 24px;
}
.canvasHolder {
	float: right;
	height: 445px;
	position: relative;
}
.controlHolder {
	height: 443px;
	float: left;
	background-color: #e8eaf6;
	-webkit-box-shadow: inset 0px 0px 2px 0px #999999;
	-moz-box-shadow: inset 0px 0px 2px 0px #999999;
	box-shadow: inset 0px 0px 2px 0px #999999;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(150, 150, 150, 0.9);
	-moz-box-shadow: 0px 0px 1px 1px rgba(150, 150, 150, 0.9);
	box-shadow: 0px 0px 1px 1px rgba(150, 150, 150, 0.9);
}
#canvasBox {
	height: 435px;
	background-color: #ffffff;
	border: #ffffff solid 4px;
	margin-top: 0px;
	margin-right: 7px;
	margin-bottom: 0px;
	margin-left: 7px;
	-webkit-box-shadow: inset 0px 0px 2px 0px #999999;
	-moz-box-shadow: inset 0px 0px 2px 0px #999999;
	box-shadow: inset 0px 0px 2px 0px #999999;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(150, 150, 150, 0.9);
	-moz-box-shadow: 0px 0px 1px 1px rgba(150, 150, 150, 0.9);
	box-shadow: 0px 0px 1px 1px rgba(150, 150, 150, 0.9);
	position: relative;
	overflow: hidden;
}
.g792.bannerFoot {
	height: 13px;
	margin-top: 13px;
	padding: 0px;
	margin-bottom: 0px;
	position: relative;
}
.footer {
	height: 48px;
	margin-bottom: 5px;
	margin-top: 25px;
}
.labName {
	margin: 0px;
	float: left;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #fff;
	padding-left: 5px;
	padding-top: 15px;
	text-align: left;
}
.copyName {
	margin: 0px;
	float: right;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #6b0f3e;
	padding-right: 5px;
	background-image: url(../images/dit_logo.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding-left: 25px;
	padding-bottom: 49px;
}
.controlHolder h1 {
	display: block;
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-align: left;
	padding-left: 7px;
	height: 18px;
	padding-top: 3px;
}
.controlHolder ul {
	display: block;
	height: 429px;
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.controlHolder ul li h1 span {
	display: none;
}
.controlHolder ul li .varBox {
	min-height: 80px;
}
.wideTxtArea {
	margin: 3px 0px 3px 30px;
	color: #3d3d3d;
	font-size: 12px;
	width: 118px;
}
.rangeSlider {
	margin: 3px 0px 3px 20px;
	font-size: 12px;
}
.dropBox {
	margin: 3px 0px 3px 30px;
	color: #3d3d3d;
	font-size: 12px;
	width: 118px;
	padding: 3px 0px 2px 0px;
}
.rangeVals .maxrange {
	float: right;
	padding-right: 9px;
}
.rangeVals .minrange {
	float: left;
	padding-left: 7px;
}
.varBox .rangeVals {
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 12px;
	color: #999;
	margin-top: -5px;
}
.varTitle {
	padding: 5px 0px 5px 10px;
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #3d3d3d;
	text-align: left !important;
}
.subButton {
	width: 120px;
	/* margin: 2px; */
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: #3a3a3a;
	padding-top: 2px;
	padding-bottom: 2px;
}
#olabmenuBar li a {
	text-decoration: none;
	background-image: url(../images/menuBgRight.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	text-decoration: none;
	padding: 5px 5px 0px 3px;
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-align: left;
	display: block;
	height: 17px;
}
#olabmenuBar li a:hover {
	color: #000000;
}
#olabmenuBar li {
	display: inline-block;
	background-image: url(../images/menuBgLeft.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-left: 5px;
	/*height:23px;*/
	padding-left: 2px;
}
#olabmenuBar {
	padding-left: 580px;
	position: absolute;
	top: -6px;
}
#olabmenuBar li span {
	background-image: url(images/menuBgLeft.gif);
	padding-right: 5px;
}
#olabmenuBar li:nth-child(2),
#olabmenuBar li:nth-child(3) {
	display: none;
}
